@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-white font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gradient-primary text-white font-bold py-4 px-8 rounded-full text-lg hover:opacity-90 transition-all duration-300;
  }
  
  .card-glass {
    @apply bg-dark-800 bg-opacity-70 backdrop-blur-lg border border-white border-opacity-10 rounded-2xl;
  }
}